@use '/src/styles/constants/colors';
@import '/src/styles/mixins/flexbox';

.movieBlock {
  @include flexbox(start, center);
  flex-direction: row;
  width: 100%;
  height: 12rem;
  padding: 1rem 3rem;
  border-bottom: 1px solid colors.$BACKGROUND;
}

.movieBlockLeft {
  @include flexbox(center, center);
  width: 10rem;
  margin-right: 2rem;

  img {
    max-width: 8rem;
    height: 10rem;
    object-fit: cover;
    border: 1px solid colors.$BLACK;
  }

  .imageNotFoundBlock {
    @include flexbox(center, center);
    width: 6rem;
    height: 8rem;
    border: 1px solid colors.$BLACK;

    .imageNotFoundIcon {
      width: 3rem;
      fill: colors.$TITLE;
    }
  }
}

.movieBlockMiddle {
  @include flexbox(center, start);
  flex-direction: column;
  width: 18rem;
  height: inherit;
  margin: 0 1rem;

  h2 {
    width: 18rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    color: colors.$MOVIE_TITLE;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span {
    display: block;
    font-style: italic;
    font-weight: 600;
    color: colors.$MOVIE_SPAN;
  }
}

.movieBlockRight {
  width: 2rem;
  margin: 0 1rem;

  .favoriteButton {
    width: 2rem;
    height: 2rem;

    .favoriteIcon {
      filter: drop-shadow(0 0 0.1rem colors.$MOVIE_STAR_BORDER);
      fill: colors.$WHITE;
      transition: fill 0.2s;
    }

    &:hover {
      .favoriteIcon {
        fill: colors.$MOVIE_STAR_HOVER;
      }
    }

    &.favorited {
      .favoriteIcon {
        fill: colors.$MOVIE_STAR_FILL;
      }
    }
  }
}
