@use '/src/styles/constants/colors';
@import '/src/styles/mixins/animation';
@import '/src/styles/mixins/flexbox';

.movieContainer {
  width: 40rem;
  height: 30rem;
  overflow: scroll;
  background-color: colors.$WHITE;
  border-radius: 1rem;

  .loadingRef {
    height: 4rem;
    padding: 1rem;

    svg {
      width: 2rem;
      height: 2rem;
      fill: colors.$TITLE;
    }
  }
}

.containerMessage {
  @include flexbox(center, center);
  flex-direction: column;
  width: inherit;
  height: inherit;

  svg {
    width: 8rem;
    height: 8rem;
    margin-bottom: 2rem;
    fill: colors.$TITLE;

    &.loadingIcon {
      @include rotateAnimation(0.5s);
    }
  }

  h3 {
    font-size: 2rem;
    color: colors.$TITLE;
  }
}
