// Black & White
$WHITE: #ffffff;
$BLACK: #000000;

// White Transparent
$WHITE30P: rgba(255, 255, 255, 30%);
$WHITE50P: rgba(255, 255, 255, 50%);
$WHITE70P: rgba(255, 255, 255, 70%);

// Black Transparent
$BLACK30P: rgba(0, 0, 0, 30%);
$BLACK50P: rgba(0, 0, 0, 50%);
$BLACK70P: rgba(0, 0, 0, 70%);

$BACKGROUND: #daddf0;
$TITLE: #9ca3d5;

// Navigation Bar
$NAVTAB_TOP: #b0b6e1;

// Search Page
$SEARCH_BTN_HOVER: #f7f7ff;

// Movie Block
$MOVIE_TITLE: #9095b4;
$MOVIE_SPAN: #9ca3d4ba;
$MOVIE_STAR_BORDER: #9ca3d4;
$MOVIE_STAR_FILL: #d1d4e9;
$MOVIE_STAR_HOVER: #e4e6f2;
$MODAL_TOP: #b0b6e1;
$MODAL_BTN: #9ca3d4;
$MODAL_BTN_HOVER: #9ca3d4ba;
