@use '/src/styles/constants/colors';
@import '/src/styles/mixins/flexbox';

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: colors.$WHITE50P;
}

.modalContainer {
  @include flexbox(start, center);
  position: fixed;
  top: calc(50% - 7.5rem);
  left: calc(50% - 15rem);
  flex-direction: column;
  width: 30rem;
  height: 15rem;
  background-color: colors.$WHITE;
  border: 1px solid black;

  header {
    @include flexbox(center, center);
    width: 100%;
    height: 3rem;
    background-color: colors.$BACKGROUND;
  }
}

.isHidden {
  display: none;
}
